<h1>Heros and Their Team</h1>
     
    <div class="super_hero">
      <h3>Name: <%= @team.name %></h3>
      <h4>Motto: <%= @team.motto %></h4>=

    </div><br>

    <h1>Heros</h1>
    <% @heros.each do |hero| %>
      <div class="hero">
        <p>Name: <%= hero.name %></p>
        <br>
        <p>Power: <%= hero.power %></p>
        <br> 
        <p>Biography: <%= hero.bio  %></p>
        <br>
      </div><br>
    <% end %>



